# Exercise 4.6 Combining & Exporting Data - First Notebook

This script contains the following points:

1. Importing new data set as dataframe df_ords_prior
2. Merging it with the dataframe df_ords_clean usin the indicator argument for a full match
3. Exporting it with the name orders_product combined.pkl in a pickle format

# 1. Importing data set

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# assigning path for easier import of data
path = r'C:\Users\magia\06-2025 Instacart Basket Analysis'

In [4]:
# importing new data set using path variable
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
# checking dimensions of imported dataframe
df_ords_prior.shape

(32434489, 4)

In [6]:
# inspecting first 5 rows
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 2. Merging data sets

In [10]:
# importing other data set for merge
df_ords_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)

In [11]:
# check dimension of df_ords_clean
df_ords_clean.shape

(3421083, 8)

In [12]:
# merging df_ords_prior with df_ords_clean with indicator argument for a full match between dataframes
df_merged_large = df_ords_clean.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# inspecting 5 first rows of merged dataframe
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_between_orders,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [14]:
# check dimension of merged dataframe
df_merged_large.shape

(32434489, 12)

In [15]:
# Checking whether we have a full match
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

We have a full match between the two dataframes.

# 3. Exporting in pickle format

In [16]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))