# 1. Importing libraries and data & shrinking dataframe by changing data types

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# assigning path for easier import of data
path = r'C:\Users\magia\06-2025 Instacart Basket Analysis'

In [3]:
# importing new data set using path variable
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int64
 1   user_id              int64
 2   order_number         int64
 3   orders_day_of_week   int64
 4   order_hour_of_day    int64
 5   days_between_orders  float64
 6   new_customer         bool
 7   product_id           int64
 8   add_to_cart_order    int64
 9   reordered            int64
 10  product_name         object
 11  aisle_id             int64
 12  department_id        int64
 13  prices               float64
 14  _merge               category
dtypes: bool(1), category(1), float64(2), int64(10), object(1)
memory usage: 3.2+ GB

In [5]:
df_ords_prods_merge.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_between_orders,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

In [6]:
# shrinking dataframe size by changing data types
df_ords_prods_merge['order_id'] = df_ords_prods_merge['order_id'].astype('int32')
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('int32')
df_ords_prods_merge['product_id'] = df_ords_prods_merge['product_id'].astype('int32')
df_ords_prods_merge['add_to_cart_order'] = df_ords_prods_merge['add_to_cart_order'].astype('int32')
df_ords_prods_merge['order_number'] = df_ords_prods_merge['order_number'].astype('int8')
df_ords_prods_merge['orders_day_of_week'] = df_ords_prods_merge['orders_day_of_week'].astype('int8')
df_ords_prods_merge['order_hour_of_day'] = df_ords_prods_merge['order_hour_of_day'].astype('int8')
df_ords_prods_merge['reordered'] = df_ords_prods_merge['reordered'].astype('int8')
df_ords_prods_merge['department_id'] = df_ords_prods_merge['department_id'].astype('int8')
df_ords_prods_merge['aisle_id'] = df_ords_prods_merge['aisle_id'].astype('int8')
df_ords_prods_merge['days_between_orders'] = df_ords_prods_merge['days_between_orders'].astype('float32')
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].astype('float32')

In [7]:
# checking new size
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int32
 1   user_id              int32
 2   order_number         int8
 3   orders_day_of_week   int8
 4   order_hour_of_day    int8
 5   days_between_orders  float32
 6   new_customer         bool
 7   product_id           int32
 8   add_to_cart_order    int32
 9   reordered            int8
 10  product_name         object
 11  aisle_id             int8
 12  department_id        int8
 13  prices               float32
 14  _merge               category
dtypes: bool(1), category(1), float32(2), int32(4), int8(6), object(1)
memory usage: 1.2+ GB

# 2. Deriving New Column price_label with IF statements

In [8]:
# creating subset with first 1 million rows in the dataframe before creating new variables
df = df_ords_prods_merge[:1000000]

In [9]:
# creating price_label function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

In [10]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\magia\AppData\Local\Temp\ipykernel_2824\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [12]:
# checking highest prices within subset
df['prices'].max()

99999.0

This looks like an error in our data. There can't possibly be an item in our supermarket that costs almost 100k!

In [13]:
# Sort by prices in descending order and show top 10 rows
df.sort_values(by='prices', ascending=False).head(10)[['product_name', 'prices']]

                 product_name   prices
499119  2 % Reduced Fat  Milk  99999.0
499141  2 % Reduced Fat  Milk  99999.0
767485  2 % Reduced Fat  Milk  99999.0
128924  2 % Reduced Fat  Milk  99999.0
284229  2 % Reduced Fat  Milk  99999.0
499180  2 % Reduced Fat  Milk  99999.0
128911  2 % Reduced Fat  Milk  99999.0
284252  2 % Reduced Fat  Milk  99999.0
767471  2 % Reduced Fat  Milk  99999.0
499158  2 % Reduced Fat  Milk  99999.0

In [14]:
# Check how many 99999.0 prices existed before float conversion
df_ords_prods_merge[df_ords_prods_merge['prices'] == 99999.0].shape

(698, 15)

In [15]:
# import cleaned products file to check whether mistake was already there
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

In [16]:
df_prods[df_prods['prices'] == 99999.0].shape

(1, 6)

In [17]:
df_prods[df_prods['prices'] == 99999.0]

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,99999.0

In [18]:
# import raw products file to check whether mistake was already there
df_prods_raw = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col=False)

In [19]:
df_prods_raw[df_prods_raw['prices'] == 99999.0].shape

(1, 5)

In [20]:
df_prods_raw[df_prods_raw['prices'] == 99999.0]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

Ok, so now we know that the price issue comes already from the raw data (which we have not cleaned well enough) and it's not coming from a mistake during data mergers.

In [21]:
result = df[df['prices'] == 99999.0]
print(result)

        order_id  user_id  order_number  orders_day_of_week  \
128911    183964      873             3                   0
128924   1851256      873             4                   6
284218   1915696     1893             1                   5
284229   2763293     1893             2                   4
284252   2564805     1893             4                   1
499076    949012     3339             1                   1
499119    420057     3339             2                   0
499141   1511997     3339             3                   1
499158   1153448     3339             4                   4
499180   2669259     3339             5                   4
527458    965345     3531            27                   2
767471   2291230     5034             6                   1
767485   2324832     5034             7                   6
953246    323856     6175            37                   2
960509    842052     6222            10                   1

        order_hour_of_day  days_between_orders  new_customer  product_id  \
128911                 10                  7.0         False       33664
128924                 12                 13.0         False       33664
284218                 17                  NaN          True       33664
284229                 16                 13.0         False       33664
284252                 17                 30.0         False       33664
499076                 14                  NaN          True       33664
499119                 11                 13.0         False       33664
499141                 18                  8.0         False       33664
499158                 16                 10.0         False       33664
499180                 14                 21.0         False       33664
527458                 19                  8.0         False       33664
767471                 17                 30.0         False       33664
767485                 11                 30.0         False       33664
953246                  9                  6.0         False       33664
960509                 18                 17.0         False       33664

        add_to_cart_order  reordered           product_name  aisle_id  \
128911                 11          0  2 % Reduced Fat  Milk        84
128924                  8          1  2 % Reduced Fat  Milk        84
284218                 10          0  2 % Reduced Fat  Milk        84
284229                  6          1  2 % Reduced Fat  Milk        84
284252                  3          1  2 % Reduced Fat  Milk        84
499076                  8          0  2 % Reduced Fat  Milk        84
499119                 29          1  2 % Reduced Fat  Milk        84
499141                 14          1  2 % Reduced Fat  Milk        84
499158                  1          1  2 % Reduced Fat  Milk        84
499180                  6          1  2 % Reduced Fat  Milk        84
527458                  2          0  2 % Reduced Fat  Milk        84
767471                  3          0  2 % Reduced Fat  Milk        84
767485                  9          1  2 % Reduced Fat  Milk        84
953246                  6          0  2 % Reduced Fat  Milk        84
960509                  2          0  2 % Reduced Fat  Milk        84

        department_id   prices _merge price_range
128911             16  99999.0   both  High range
128924             16  99999.0   both  High range
284218             16  99999.0   both  High range
284229             16  99999.0   both  High range
284252             16  99999.0   both  High range
499076             16  99999.0   both  High range
499119             16  99999.0   both  High range
499141             16  99999.0   both  High range
499158             16  99999.0   both  High range
499180             16  99999.0   both  High range
527458             16  99999.0   both  High range
767471             16  99999.0   both  High range
767485             16  99999.0   both  High range
953246             16  99999.0   both  High range
960509             16  99999.0   both  High range

We cannot just delete the item, it has been ordered numerous times. We need to fix the data otherwise. By imputing a value (mean/median) for milk items?

Fixing price, using price of identical product "2% Reduced Fat Milk" (no space between 2 and %)

In [26]:
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_name'] == '2 % Reduced Fat Milk') &
    (df_ords_prods_merge['prices'] == 99999.0),
    'prices'
] = np.float32(9.2)

In [32]:
# Recalculate the price labels
df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)

In [33]:
# Save the cleaned version
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [34]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [35]:
(df_ords_prods_merge['prices'] == 99999.0).sum()

698

In [36]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [37]:
df_ords_prods_merge[df_ords_prods_merge['prices'] == 99999.0]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_between_orders,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
128911,183964,873,3,0,10,7.0,False,33664,11,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range
128924,1851256,873,4,6,12,13.0,False,33664,8,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range
284218,1915696,1893,1,5,17,NaN,True,33664,10,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range
284229,2763293,1893,2,4,16,13.0,False,33664,6,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range
284252,2564805,1893,4,1,17,30.0,False,33664,3,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,2249946,204099,29,0,8,4.0,False,33664,1,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range
32079936,2363282,204099,31,0,9,2.0,False,33664,1,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range
32125745,3181945,204395,13,3,15,8.0,False,33664,25,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range
32255078,2486215,205227,7,3,20,4.0,False,33664,8,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range
32255132,2232716,205227,10,0,11,4.0,False,33664,23,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range

In [38]:
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_name'] == '2 % Reduced Fat Milk') &
    (df_ords_prods_merge['prices'] == 99999.0),
    'prices'
] = np.float32(9.2)

In [39]:
(df_ords_prods_merge['prices'] == 99999.0).sum()

698

In [40]:
df_ords_prods_merge = df_ords_prods_merge.copy()

In [41]:
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_name'] == '2 % Reduced Fat Milk') &
    (df_ords_prods_merge['prices'] == 99999.0),
    'prices'
] = np.float32(9.2)

In [42]:
(df_ords_prods_merge['prices'] == 99999.0).sum()

698

In [43]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] == 99999.0, 'prices'] = np.float32(9.2)

In [44]:
(df_ords_prods_merge['prices'] == 99999.0).sum()  # MUST be 0 now

0

In [45]:
df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)
df_ords_prods_merge['price_range'].value_counts(dropna=False)

price_range
Mid-range product    21861558
Low-range product    10126321
High range             416980
Name: count, dtype: int64

In [46]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [48]:
(df_ords_prods_merge['prices'] == 99999.0).sum()

0

In [49]:
df_ords_prods_merge['prices'] == 99999.0

0           False
1           False
2           False
3           False
4           False
            ...
32404854    False
32404855    False
32404856    False
32404857    False
32404858    False
Name: prices, Length: 32404859, dtype: bool

In [50]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'prices'].value_counts().sort_index()

prices
15.100000        2422
15.200000         494
15.300000        7495
15.400000        1175
15.500000        2325
                ...
24.700001        7283
24.799999         410
24.900000        5781
25.000000       13772
14900.000000     4429
Name: count, Length: 100, dtype: int64

In [51]:
df_ords_prods_merge[df_ords_prods_merge['prices'] >= 1000][['product_name', 'prices']].drop_duplicates()

                          product_name   prices
1576  Lowfat 2% Milkfat Cottage Cheese  14900.0

In [52]:
cottage_cheese = df_ords_prods_merge[df_ords_prods_merge['product_name'].str.contains('Cottage Cheese', case=False, na=False)]
cottage_cheese[['product_name', 'prices']].sort_values(by='prices').drop_duplicates()

                                       product_name   prices
17797984          Cottage Cheese 4% Milkfat Minimum      1.1
31307471                  Small Curd Cottage Cheese      1.3
22571376               Small Curd Cottage Cheese 4%      1.3
17116924                       Cottage Cheese 22 Oz      1.6
8388645   4% Milkfat Min. Small Curd Cottage Cheese      1.8
...                                             ...      ...
188376             Organic Pineapple Cottage Cheese     12.6
22369436         Sea Salt Small Curd Cottage Cheese     13.5
40368                Organic Low Fat Cottage Cheese     13.7
5787433       Organic Cottage Cheese Kalamata Olive     15.0
17783689           Lowfat 2% Milkfat Cottage Cheese  14900.0

[71 rows x 2 columns]

In [53]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] == 14900.0, 'prices'] = 1.1

In [54]:
(df_ords_prods_merge['prices'] == 14900.0).sum()  # should return 0
df_ords_prods_merge[df_ords_prods_merge['prices'] == 1.1].head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_between_orders,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
1576,912404,17,12,2,14,5.0,False,21553,5,0,Lowfat 2% Milkfat Cottage Cheese,108,16,1.1,both,High range
1638,603376,17,22,6,16,4.0,False,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,1.1,both,High range
16522,3264360,135,2,2,21,13.0,False,21553,6,0,Lowfat 2% Milkfat Cottage Cheese,108,16,1.1,both,High range
16528,892534,135,3,0,8,12.0,False,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,1.1,both,High range
53672,229704,342,8,1,19,30.0,False,21553,9,0,Lowfat 2% Milkfat Cottage Cheese,108,16,1.1,both,High range

In [56]:
df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)
df_ords_prods_merge['price_range'].value_counts(dropna=False)

price_range
Mid-range product    21861558
Low-range product    10130750
High range             412551
Name: count, dtype: int64

In [57]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int32
 1   user_id              int32
 2   order_number         int8
 3   orders_day_of_week   int8
 4   order_hour_of_day    int8
 5   days_between_orders  float32
 6   new_customer         bool
 7   product_id           int32
 8   add_to_cart_order    int32
 9   reordered            int8
 10  product_name         object
 11  aisle_id             int8
 12  department_id        int8
 13  prices               float64
 14  _merge               category
 15  price_range          object
dtypes: bool(1), category(1), float32(1), float64(1), int32(4), int8(6), object(2)
memory usage: 1.6+ GB

# 3. Creating busiest_day column with FOR loops

In [22]:
result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
result